<%- include("../includes/admin/head.ejs") %> <%-
include("../includes/admin/aside.ejs") %> <%-
include("../includes/admin/nav.ejs") %>
<div class="content-wrapper">
  <!-- Content -->
  <style>
    .card-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  </style>
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- Users List Table -->
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Search Filter</h5>
        <div class="dt-buttons btn-group flex-wrap">
          <button
            class="btn btn-secondary add-new btn-primary"
            tabindex="0"
            aria-controls="DataTables_Table_0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasAddUser"
          >
            <span
              ><i class="mdi mdi-plus me-0 me-sm-1"></i
              ><span class="d-none d-sm-inline-block">Add User</span></span
            >
          </button>
        </div>
      </div>
      <div class="card-datatable table-responsive">
        <table id="users-table" class="datatables-basic table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Sale Price</th>
              <th>Quantity</th>
              <th>Available</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% let srNo = 1; %> <% for (let product of products) {%>

            <tr>
              <td><%= srNo++ %></td>
              <td>
                <div class="avatar avatar-xl">
                  <img
                    src="<%= product.img %>"
                    alt="Avatar"
                    class="rounded-circle"
                  />
                </div>
              </td>
              <td><%= product.name %></td>
              <td>$ <%= product.price %></td>
              <td><%= product.salePrice %></td>
              <td><%= product.quantity %></td>
              <td><%= product.isAvailable %></td>
              <td class="" style="">
                <a
                  href="javascript:;"
                  class="btn btn-sm btn-text-secondary btn-icon"
                >
                  <i class="mdi mdi-eye-outline"></i>
                </a>
                <a
                  href="javascript:;"
                  class="btn btn-sm btn-text-secondaryl btn-icon"
                  ><i class="mdi mdi-pencil-outline"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-sm btn-text-secondary btn-icon"
                >
                  <i class="mdi mdi-trash-can-outline"></i>
                </a>
              </td>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
      <!-- Offcanvas to add new user -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasAddUser"
        aria-labelledby="offcanvasAddUserLabel"
      >
        <div class="offcanvas-header">
          <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add User</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0">
          <form
            class="add-new-user pt-0"
            id="addNewUserForm"
            onsubmit="return false"
          >
            <div class="form-floating form-floating-outline mb-4">
              <input
                type="text"
                class="form-control"
                id="add-user-fullname"
                placeholder="John Doe"
                name="userFullname"
                aria-label="John Doe"
              />
              <label for="add-user-fullname">Full Name</label>
            </div>
            <div class="form-floating form-floating-outline mb-4">
              <input
                type="text"
                id="add-user-email"
                class="form-control"
                placeholder="john.doe@example.com"
                aria-label="john.doe@example.com"
                name="userEmail"
              />
              <label for="add-user-email">Email</label>
            </div>
            <div class="form-floating form-floating-outline mb-4">
              <input
                type="text"
                id="add-user-contact"
                class="form-control phone-mask"
                placeholder="+1 (609) 988-44-11"
                aria-label="john.doe@example.com"
                name="userContact"
              />
              <label for="add-user-contact">Contact</label>
            </div>
            <div class="form-floating form-floating-outline mb-4">
              <input
                type="text"
                id="add-user-company"
                class="form-control"
                placeholder="Web Developer"
                aria-label="jdoe1"
                name="companyName"
              />
              <label for="add-user-company">Company</label>
            </div>
            <div class="form-floating form-floating-outline mb-4">
              <select id="country" class="select2 form-select">
                <option value="">Select</option>
                <option value="Australia">Australia</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Belarus">Belarus</option>
                <option value="Brazil">Brazil</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Japan">Japan</option>
                <option value="Korea">Korea, Republic of</option>
                <option value="Mexico">Mexico</option>
                <option value="Philippines">Philippines</option>
                <option value="Russia">Russian Federation</option>
                <option value="South Africa">South Africa</option>
                <option value="Thailand">Thailand</option>
                <option value="Turkey">Turkey</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">
                  United Arab Emirates
                </option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
              </select>
              <label for="country">Country</label>
            </div>
            <div class="form-floating form-floating-outline mb-4">
              <select id="user-role" class="form-select">
                <option value="subscriber">Subscriber</option>
                <option value="editor">Editor</option>
                <option value="maintainer">Maintainer</option>
                <option value="author">Author</option>
                <option value="admin">Admin</option>
              </select>
              <label for="user-role">User Role</label>
            </div>
            <div class="form-floating form-floating-outline mb-4">
              <select id="user-plan" class="form-select">
                <option value="basic">Basic</option>
                <option value="enterprise">Enterprise</option>
                <option value="company">Company</option>
                <option value="team">Team</option>
              </select>
              <label for="user-plan">Select Plan</label>
            </div>
            <button
              type="submit"
              class="btn btn-primary me-sm-3 me-1 data-submit"
            >
              Submit
            </button>
            <button
              type="reset"
              class="btn btn-label-secondary"
              data-bs-dismiss="offcanvas"
            >
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <!-- / Content -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

  <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
  <script>
    new DataTable("#users-table");
  </script>
  <%- include("../includes/admin/footer.ejs") %>
