<%- include("../includes/web/head.ejs") %> <%-
include("../includes/web/header.ejs") %> <%-
include("../includes/web/mobile_menu.ejs") %>
<main class="main">
  <section class="home-slider position-relative pt-25 pb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="position-relative">
            <div
              class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1"
            >
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="slider-1-height-3 slider-animated-1">
                    <!-- <div class="hero-slider-content-2">
                        <h4 class="animated">Trade-In Offer</h4>
                        <h2 class="animated fw-900">Supper Value Deals</h2>
                        <h1 class="animated fw-900 text-brand">
                          On All Products
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 70% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="shop-product-right.html"
                        >
                          Shop Now
                        </a>
                      </div> -->
                    <div class="slider-img">
                      <img src="web/imgs/slider/slider-8.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="slider-1-height-3 slider-animated-1">
                    <!-- <div class="hero-slider-content-2">
                        <h4 class="animated">Tech Promotions</h4>
                        <h2 class="animated fw-900">Tech Trending</h2>
                        <h1 class="animated fw-900 text-brand">
                          Great Collection
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 20% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="shop-product-right.html"
                        >
                          Shop Now
                        </a>
                      </div> -->
                    <div class="slider-img">
                      <img src="web/imgs/slider/slider-9.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="slider-1-height-3 slider-animated-1">
                    <!-- <div class="hero-slider-content-2">
                        <h4 class="animated">Tech Promotions</h4>
                        <h2 class="animated fw-900">Tech Trending</h2>
                        <h1 class="animated fw-900 text-brand">
                          Great Collection
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 20% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="shop-product-right.html"
                        >
                          Shop Now
                        </a>
                      </div> -->
                    <div class="slider-img">
                      <img src="web/imgs/slider/slider-10.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="slider-1-height-3 slider-animated-1">
                    <!-- <div class="hero-slider-content-2">
                        <h4 class="animated">Tech Promotions</h4>
                        <h2 class="animated fw-900">Tech Trending</h2>
                        <h1 class="animated fw-900 text-brand">
                          Great Collection
                        </h1>
                        <p class="animated">
                          Save more with coupons & up to 20% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="shop-product-right.html"
                        >
                          Shop Now
                        </a>
                      </div> -->
                    <div class="slider-img">
                      <img src="web/imgs/slider/slider-11.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
          </div>
        </div>
        <div class="col-lg-3 d-md-none d-lg-block">
          <div class="banner-img banner-1 wow fadeIn animated home-3">
            <img
              class="border-radius-10"
              src="web/imgs/banner/banner-4.jpg"
              alt=""
            />
            <div class="banner-text">
              <span>Accessories</span>
              <h4>Save 17% on <br />Autumn Hat</h4>
              <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
          <div class="banner-img banner-2 wow fadeIn animated mb-0">
            <img
              style="filter: contrast(0.5)"
              class="border-radius-10"
              src="web/imgs/banner/banner-7.jpg"
              alt=""
            />
            <div class="banner-text">
              <span>Smart Offer</span>
              <h4>Save 20% on <br />Eardrop</h4>
              <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <h3 class="section-title mb-20 wow fadeIn animated">
        <span>Featured</span> Brands
      </h3>
      <div
        class="carausel-6-columns-cover position-relative wow fadeIn animated"
      >
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-3-arrows"
        ></div>
        <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-1.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-2.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-3.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-4.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-5.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-6.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="web/imgs/banner/brand-3.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="banner-bg wow fadeIn animated"
            style="background-image: url('web/imgs/banner/banner-8.jpg')"
          >
            <div style="visibility: hidden" class="banner-content">
              <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
              <h2 class="fw-600">
                Happy <span class="text-brand">Mother's Day</span>. Big Sale Up
                to 40%
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="popular-categories section-padding mt-15">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-arrows"
        ></div>
        <div class="carausel-6-columns" id="carausel-6-columns">
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-1.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html">
                <img src="web/imgs/shop/category-thumb-2.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Bags</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-3.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Sandan</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-4.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-5.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Shoes</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-6.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-7.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="web/imgs/shop/category-thumb-8.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Hats</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="deals section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
            style="background-image: url('web/imgs/banner/menu-banner-7.jpg')"
          >
            <div class="deal-top">
              <h2 class="text-brand">Deal of the Day.</h2>
              <h5>Limited quantities.</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title">
                <a href="shop-product-right.html"
                  >Summer Collection New Morden Design</a
                >
              </h6>
              <div class="product-price">
                <span class="new-price">$139.00</span
                ><span class="old-price">$160.99</span>
              </div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2025/03/25 00:00:00"
              ></div>
              <a href="shop-grid-right.html" class="btn hover-up"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated"
            style="background-image: url('web/imgs/banner/menu-banner-8.jpg')"
          >
            <div class="deal-top">
              <h2 class="text-success">Men Clothing</h2>
              <h5>Shirt & Bag</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title">
                <a href="shop-product-right.html"
                  >Try something new on vacation</a
                >
              </h6>
              <div class="product-price">
                <span class="new-price">$178.00</span
                ><span class="old-price">$256.99</span>
              </div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2026/03/25 00:00:00"
              ></div>
              <a href="shop-grid-right.html" class="btn hover-up"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row product-grid-3">
            <% for(let product of products){ %>
            <div class="col-lg-3 col-md-4">
              <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="single-product/<%= product._id %>">
                      <img
                        class="default-img"
                        src="<%= product.img %>"
                        alt=""
                      />
                      <!-- <img
                        class="hover-img"
                        src="web/imgs/shop/product-2-2.jpg"
                        alt=""
                      /> -->
                    </a>
                  </div>
                  <div class="product-action-1">
                    <!-- <a
                      aria-label="Quick view"
                      class="action-btn hover-up"
                      data-bs-toggle="modal"
                      data-bs-target="#quickViewModal"
                    >
                      <i class="fi-rs-search"></i
                    ></a> -->

                    <% let wishlistData = product._id %>

                    <form
                      action="/add-to-wishlist"
                      class="add-to-wishlist-form"
                      method="post"
                    >
                      <input
                        type="hidden"
                        name="productId"
                        value="<%= product._id %>"
                      />
                      <button
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                      >
                        <i class="fi-rs-heart"></i>
                      </button>
                    </form>

                    <!-- <a
                      aria-label="Compare"
                      class="action-btn hover-up"
                      href="shop-compare.html"
                      ><i class="fi-rs-shuffle"></i
                    ></a> -->
                  </div>
                  <!-- <div
                    class="product-badges product-badges-position product-badges-mrg"
                  >
                    <span class="hot">Hot</span>
                  </div> -->
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="shop-grid-right.html">Music</a>
                  </div>
                  <h2>
                    <a href="single-product/<%= product._id %>"
                      ><%= product.name %></a
                    >
                  </h2>
                  <div class="product-price">
                    <!-- <span>$238.85 </span> -->
                    <span class="">$<%= product.price %></span>
                  </div>
                  <div class="product-action-1 show">
                    <form
                      action="/add-to-cart"
                      class="add-to-cart-form"
                      method="POST"
                    >
                      <input
                        type="hidden"
                        value="<%= product._id %>"
                        name="productId"
                      />
                      <input type="hidden" value="1" name="quantity" />
                      <button
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                      >
                        <i class="fi-rs-shopping-bag-add"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
          <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
            <img src="web/imgs/banner/banner-10.jpg" alt="" />
            <div class="banner-text">
              <span>Shoes Zone</span>
              <h4>Save 17% on <br />All Items</h4>
              <a href="shop-grid-right.html"
                >Shop Now <i class="fi-rs-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
          <h4 class="section-title style-1 mb-30 wow fadeIn animated">
            Deals & Outlet
          </h4>
          <div class="product-list-small wow fadeIn animated">
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-3.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Fish Print Patched T-shirt</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-4.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Vintage Floral Print Dress</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-5.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Multi-color Stripe Circle Print T-Shirt</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
          <h4 class="section-title style-1 mb-30 wow fadeIn animated">
            Top Selling
          </h4>
          <div class="product-list-small wow fadeIn animated">
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-6.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Geometric Printed Long Sleeve Blosue</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-7.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Print Patchwork Maxi Dress</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-8.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Daisy Floral Print Straps Jumpsuit</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title style-1 mb-30 wow fadeIn animated">
            Hot Releases
          </h4>
          <div class="product-list-small wow fadeIn animated">
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-9.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Floral Print Casual Cotton Dress</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-1.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Ruffled Solid Long Sleeve Blouse</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
            <article class="row align-items-center">
              <figure class="col-md-4 mb-0">
                <a href="shop-product-right.html"
                  ><img src="web/imgs/shop/thumbnail-2.jpg" alt=""
                /></a>
              </figure>
              <div class="col-md-8 mb-0">
                <h4 class="title-small">
                  <a href="shop-product-right.html"
                    >Multi-color Print V-neck T-Shirt</a
                  >
                </h4>
                <div class="product-price">
                  <span>$238.85 </span>
                  <span class="old-price">$245.8</span>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>
<%- include("../includes/web/footer.ejs") %>

<script>
  // async function submitForm(url, data) {
  //   try {
  //     const response = await fetch(url, {
  //       method: "POST",
  //       headers: {
  //         "Content-Type": "application/json",
  //       },
  //       body: JSON.stringify(data),
  //       redirect: "follow",
  //     });
  //     const result = await response.json();
  //     console.log("Success:", result);
  //   } catch (error) {
  //     console.error("Error:", error);
  //   }
  // }

  // const wishlistForm = document.querySelectorAll(".add-to-wishlist-form");

  // wishlistForm.forEach((form) => {
  //   form.addEventListener("submit", async (e) => {
  //     e.preventDefault();

  //     const formData = new FormData(e.target);
  //     const productId = formData.get("productId");

  //     try {
  //       const response = await fetch("/add-to-wishlist", {
  //         method: "POST",
  //         headers: {
  //           "Content-Type": "application/json",
  //         },
  //         body: JSON.stringify({ productId }),
  //         redirect: "follow",
  //       });
  //       const result = await response.json();
  //       console.log("Success:", result);
  //     } catch (error) {
  //       console.error("Error:", error);
  //     }
  //   });
  // });

  // const cartForm = document.querySelectorAll(".add-to-cart-form");

  // cartForm.forEach((form) => {
  //   form.addEventListener("submit", (e) => {
  //     e.preventDefault();
  //     form.submit();
  //   });
  // });
</script>

<!-- <script>
  const wishlistForm = document.querySelectorAll(".add-to-wishlist-form");

  wishlistForm.forEach((form) => {
    form.addEventListener("submit", (e) => {
      e.preventDefault();

      const formData = new FormData(e.target);
      const productId = formData.get("productId");

      fetch("/add-to-wishlist", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId }),
        redirect: "follow",
      })
        .then((response) => {
          response.json();
          console.log("Data Sended To Backend");
        })
        .then((data) => {
          console.log("Response from server:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
  });

  const cartForm = document.querySelectorAll(".add-to-cart-form");

  cartForm.forEach((form) => {
    form.addEventListener("submit", (e) => {
      e.preventDefault();

      const formData = new FormData(e.target);
      const productId = formData.get("productId");
      const quantity = formData.get("quantity");

      fetch("/add-to-cart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId, quantity }),
        redirect: "follow",
      })
        .then((response) => {
          response.json();
          console.log("Data Sended To Backend");
        })
        .then((data) => {
          console.log("Response from server:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
  });
</script> -->

<%- include("../includes/web/foot.ejs") %>
