<%- include("../includes/web/head.ejs") %> <%-
include("../includes/web/header.ejs") %> <%-
include("../includes/web/mobile_menu.ejs") %>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow">Home</a>
        <span></span> Shop <span></span> Checkout
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="order_review">
            <div class="mb-20">
              <h4>Your Orders</h4>
            </div>
            <div class="table-responsive order_table text-center">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% let total = 0; %> <% for(let product of products) { %> <%
                  total += +product.subtotal %>
                  <tr>
                    <td class="image product-thumbnail">
                      <img src="<%= product.productId.img %>" alt="#" />
                    </td>
                    <td>
                      <h5>
                        <a href="shop-product-full.html"
                          ><%= product.productId.name %></a
                        >
                      </h5>
                      <span class="product-qty">x <%= product.quantity %></span>
                    </td>
                    <td>$<%= product.subtotal %></td>
                  </tr>
                  <%}%>
                  <tr>
                    <th>SubTotal</th>
                    <td class="product-subtotal" colspan="2">
                      $<%= parseFloat(total).toFixed(2) %>
                    </td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td colspan="2"><em>Free Shipping</em></td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td colspan="2" class="product-subtotal">
                      <span class="font-xl text-brand fw-900"
                        >$<%= parseFloat(total).toFixed(2) %></span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <form action="/create-checkout-session" method="POST">
              <button class="btn mt-30">Proceed to Payment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("../includes/web/footer.ejs") %> <%-
include("../includes/web/foot.ejs") %>
